<template>
  <div class="element">
    <el-row :gutter="21">
      <el-col :span="18">
        <div class="gutter"> <Mainlist></Mainlist></div>
      </el-col>
      <el-col :span="6">
        <!-- 右侧边栏 -->
        <div class="index-right">
          <!-- 1.限时领取掘金会员 -->
          <div class="signin-tip signin">
            <div class="first-line">
              <div class="icon-text">
                <span class="title">限时领取掘金会员</span>
                <div class="second-line">点亮在社区的每一天</div>
              </div>
              <div class="sign-in">
                <img src="@/assets/img/sign.d62085a.gif" />
              </div>
            </div>
          </div>
          <!-- 2.广告 -->
          <div class="ad" v-for="item in ad_pictures" :key="item.id">
            <img :src="item.url" />
          </div>
          <!-- 3.下载稀土掘金APP -->
          <div class="app-download signin-tip" v-for="i in side_imgs">
            <div class="app-link">
              <img :src="i.url" />
              <div class="content-box">
                <div class="headline">下载稀土掘金APP</div>
                <div class="desc">一个帮助开发者成长的社区</div>
              </div>
            </div>
          </div>
          <!-- 4.作者榜 -->
          <div class="author-block">
            <div class="user-block-header">🎖️作者榜</div>
            <div class="user-list">
              <div class="item" v-for="item in author_lists.slice(0,3)" :key="item.id">
                  <img :src="item.avatars">
                  <div class="user-info">
                    <div class="user">
                      <span>{{ item.nickname }}</span>
                      <em><img src="@/assets/img/lv4.png" /></em>
                    </div>
                    <div class="position">{{item.position}}</div>
                  </div>
  
              </div>
              <div class="more">完整榜单</div>
            </div>
          </div>
          <!-- 5.其他 -->
          <div class="sidebar-block">
            <ul>
              <li class="item">
                <a href="javascript:;" class="link">
                  <img src="@/assets/img/manyouzhinan.png" />
                  <span>稀土掘金漫游指南</span>
                </a>
              </li>
              <li class="item">
                <a href="javascript:;" class="link">
                  <img src="@/assets/img/manyouzhinan.png" />
                  <span>稀土掘金漫游指南</span>
                </a>
              </li>
              <li class="item">
                <a href="javascript:;" class="link">
                  <img src="@/assets/img/manyouzhinan.png" />
                  <span>稀土掘金漫游指南</span>
                </a>
              </li>
            </ul>
          </div>
          <!-- 6.底部更多 -->
          <div class="footer">
            <ul class="more-list">
              <li class="item">
                <a href="javascript:;">用户协议</a>
              </li>
              <li class="item">
                <a href="javascript:;">营业执照</a>
              </li>
              <li class="item">
                <a href="javascript:;">隐私政策</a>
              </li>
              <li class="item">
                <a href="javascript:;">关于我们</a>
              </li>
            </ul>
            <ul class="more-list">
              <li class="item">
                <a href="javascript:;">站点地图</a>
              </li>
              <li class="item">
                <a href="javascript:;">使用指南</a>
              </li>
              <li class="item">
                <a href="javascript:;">友情链接</a>
              </li>
              <li class="item">
                <a href="javascript:;">更多文章</a>
              </li>
            </ul>
          </div>
        </div>
      </el-col>
    </el-row>
  </div>
</template>
<script>
import request from "@/api/request"
import Mainlist from '~/components/Body.vue'
export default {
   name: 'zh',
   components: {
     Mainlist
   },
   mixins: [],
   props: {
     
   },
   data() {
     return {
      side_imgs:[],
      author_lists: [],
      ad_pictures: []
       
     }
   },
   computed: {
     
   },
   watch: {
     
   },
   mounted() {
     
   },
   created(){
    this.authors(),
    this.adpictures(),
    this.sideimgs()
   },
   methods: {
    sideimgs(){
      request.get('/side-imgs', {
        params: this.params
      }).then(res => {
        this.side_imgs = res
      })
    },
    // 广告
    adpictures() {
      request.get('/ad-pictures', {
        params: this.params
      }).then(res => {
        this.ad_pictures = res
      })
    },
    // 作者榜
    authors() {
      request.get('/author-lists', {
        params: this.params
      }).then(res => {
          this.author_lists = res
      })

    }
     
   }
};
</script>
<style lang="scss" scoped>
.element {
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100%;
  background: #f2f4f5;
  .el-row {
    height: 100%;
    .el-col {
      height: 100%;
      .gutter {
        height: 100%;
        background: #fff;
      }
    }
  }

  .index-right {
    height: 100%;
    // background: pink;
  }
  div {
    display: block;
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
  }

  .signin-tip {
    padding: 16px;
    margin-bottom: 16px;
    background: #fff;
    .first-line {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      .icon-text {
        width: 150px;
        padding-right: 20px;
        .title {
          color: #1d2129;
          font-size: 16px;
          font-weight: 600;
        }
        .second-line {
          color: #8a919f;
          font-size: 12px;
          font-weight: 400;
          line-height: 24px;
        }
      }

      .sign-in {
        width: 74px;
        height: 36px;
        cursor: pointer;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .ad {
    width: 100%;
    height: 200px;
    margin-bottom: 16px;
    cursor: pointer;
    img {
      width: 100%;
      height: 100%;
    }
  }

  .app-download {
    background: #fff;
    cursor: pointer;
    .app-link {
      display: flex;
      align-items: center;
      img {
        margin-right: 16px;
        width: 50px;
        height: 50px;
      }

      .headline {
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        color: #1d2129;
      }

      .desc {
        margin-top: 0.5rem;
        font-size: 12px;
        line-height: 20px;
        color: #86909c;
      }
    }
  }

  .author-block {
    height: 294px;
    margin-bottom: 16px;
    background: #fff;
    .user-block-header {
      font-size: 14px;
      padding: 12px 16px;
      border-bottom: 1px solid hsla(0, 0%, 59.2%, 0.1);
    }
    .user-list {
      width: 100%;
      height: 100%;
      .item {
        height: 67px;
        display: flex;
        align-items: center;
        cursor: pointer;
        img {
          width: 42px;
          height: 42px;
          margin-right: 6px;
        }
        padding: 10px 12px;
        .user {
          span {
            font-size: 14px;
            margin-right: 6px;
          }
          img {
            width: 35px;
            height: 16px;
          }
        }

        .position {
          color: #909090;
          font-size: 12px;
          margin-bottom: 3px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      .item:hover {
        background: #f7f8fa;
      }
    }

    .more {
      align-items: center;
      cursor: pointer;
      color: #007fff;
      font-size: 14px;
      padding: 12px 0;
      text-align: center;
      border-top: 1px solid hsla(0, 0%, 59.2%, 0.1);
    }
  }

  .sidebar-block {
    background: #fff;
    margin-bottom: 16px;
    ul {
      display: block;
      list-style-type: disc;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      padding-inline-start: 40px;
    }
    .item {
      position: relative;
    }

    .link {
      display: flex;
      align-items: center;
      height: 100%;
      text-decoration: none;
      cursor: pointer;
      font-size: 14px;
      line-height: 1;
      padding: 12px;
      img {
        width: 36px;
        height: 36px;
        margin-right: 10px;
      }
    }
  }

  .link:hover {
    background: #f7f8fa;
  }

  .footer {
    width: 100%;
    height: 500px;
    .more-list {
      font-size: 12px;
      .item {
        float: left;
        margin-right: 8px;
        margin-bottom: 10px;
      }
      a {
        color: #909090;
      }
    }
  }
}
</style>
