<template>
  <div class="container">
    <!-- 页面容器，防止定位问题 -->
    <div class="timeline-container">
      <!-- 负责部分容器 -->
      <div class="timeline-conttent">
        <!-- 内容容器 -->
        <div class="timeline-entry-coainer">
          <!-- 列表容器，丢一个timeline-entry-list不知道干嘛 -->
          <Mheader></Mheader>
          <div class="entry-list-wrap">
            <!-- 包裹层 -->
            <div class="entry-list list">
              <!-- 列表 -->
              <List></List>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import List from '~/components/HomeList.vue'
import Mheader from '~/components/HomeHeader.vue'
export default {
  name: 'container',
  components: {
    List,
    Mheader,
  },
}
</script>
<style scoped>
.entry-list{
  width: 100%;
  background-color: #fff;
  position: relative;
}
.timeline-entry-list {
  margin-right: 21.667rem;
  border-radius: 2px;
  width: 700px;
}
.container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
}
.timeline-container {
  margin-top: 0;
}
.timeline-content {
  position: relative;
  margin-top: 0.33rem;
}

/* @media (max-width: 600px)
.timeline-content[data-v-59a4c066] {
    margin-top: .5rem;
} */
</style>
