<template>
  <div class="categories-nav">
    <nav class="fl">
      <ul class="nav-list">
        <li v-for="(category, index) in categories" :key="index" class="nav-item">
          <nuxt-link :to="category.router" :class="{'active' : index === 0}">{{ category.title }}</nuxt-link> 
        </li>
      </ul>
    </nav>
  </div>
</template>

<script>
export default {
  name: 'CateGories',
  components: {},
  mixins: [],
  props: {},
  data() {
    return {
      categories: [
        { router: { name: 'index' }, title: '综合' },
        { router: { path: '/categories/following' }, title: '关注' },
        { router: { path: '/categories/backend' }, title: '后端' },
        { router: { path: '/categories/frontend' }, title: '前端' },
        { router: { path: '/categories/android' }, title: 'Android' },
        { router: { path: '/categories/ios' }, title: 'iOS' },
        { router: { path: '/categories/ai' }, title: '人工智能' },
        { router: { path: '/categories/freebie' }, title: '开发工具' },
        { router: { path: '/categories/career' }, title: '代码人生' },
        { router: { path: '/categories/article' }, title: '阅读' },
      ],
    }
  },
  computed: {},
  watch: {},
  methods: {},
}
</script>

<style lang="scss" scoped>
a {
  text-decoration: none;
  color: #555;
}

ul {
  list-style: none;
}
.fl {
  float: left;
}
.categories-nav {
  padding: 0;
  padding-top: 14px;
  box-sizing: border-box;
  margin-left: 250px;
  height: 50px !important;
  background: #fff;
}
.categories-nav nav li {
  margin-left: 20px;
}
.categories-nav nav li a:hover{
  // color: blue;
  color:rgb(30,128,255);
}
.active{
  color: rgb(30,128,255);
}
.nav-list {
  display: flex;
}
</style>
