<template>
  <div class="all">
    <div class="left">
      <div class="svg">
        <img src="@/assets/svg/dianzan.png" alt="" style="width: 40%; height: 40%">
      </div>
      <div class="svg"><img src="@/assets/svg/pinglun.png" alt="" style="width: 40%; height: 40%"></div>
      <div class="svg"><img src="@/assets/svg/hanhan-01-01.png" alt="" style="width: 40%; height: 40%"></div>
      <div class="svg"><img src="@/assets/svg/zhuanfa.png" alt="" style="width: 40%; height: 40%"></div>
      <div class="svg" style="margin-top: 30px"><img src="@/assets/svg/jubao.png" alt="" style="width: 40%; height: 40%"></div>
      <div class="svg"><img src="@/assets/svg/bg-fullscreen.png" alt="" style="width: 40%; height: 40%"></div>
    </div>
    <div id="content" style="width: 800px;padding: 20px; background: #fff">
    <!-- item容器 -->
    <li class="item" style="background: #fff">
      <h1 class="title">
        {{item.title}}
      </h1>
      <!-- 广告 -->
      <div class="advertisement">
        <!-- meta容器 -->
        <div class="meta-container">
          <!-- 作者标签 -->
           <!-- 图片 -->
      <img :src="item.headUrl"
           alt="记得换成动态加载图片名称" loading="lazy" class="lazy thumb">
          <div class="user-message">
            <div class="userbox">
              <div class="popover-box user-popover">
                {{item.author}} 
              </div>
            </div>
          </div>
          <!-- 分割线，应该由什么控制好 -->
          <div class="dividing"></div>
          <!-- 日期，后端传数据后获取 -->
          <div class="date">{{item.createTime}}</div>
          <div class="dividing"></div>
          <!--tag标签 ,话说—和_有什么区别在css？使用v-for循环-->
          <div class="tag_list">
            <a class="tag" target="_blank">阅读 {{item.readNum}}</a>
          </div>
        </div>
        <!--item内容容器  -->
        <div class="item-main"> 
          <div class="info-box">
            <!-- 信息盒子 -->
            <!-- 标题，一个套一个
             -->
            <!-- 内容 -->
            <p class="description">
              <div class="markdown-body">
                <VueMarkdown :source="item.articleDetail"></VueMarkdown>
              </div>
            </p>
            <p>
              {{ item.other }}
            </p>
          </div>
        </div>
      </div>
    </li>
    <!-- 说明把x按钮p掉了，暂时不添加 -->

    </div>
    <div class="right">
      <div class="person">
        <div class="img">
          <img :src="item.headUrl" alt="" style="width: 50px;height: 50px">
        </div>
        <div style="margin-left: 10px">
          <div>{{ item.author }}</div>
          <div>{{ item.other }}</div>
        </div>
      </div>
    </div>  
  </div> 
</template>
    
<script>
import request from '@/api/request'
import 'github-markdown-css/github-markdown.css'
export default {
  name: 'ContentDetail',
  components: {
    VueMarkdown: () => import('vue-markdown'),
  },
  data() {
    return {
      isnewes: false,
      selected: '',
      content: [],
      item: '',
    }
  },
  created() {
    this.contentlist()
  },

  methods: {
    contentlist() {
      const that = this
      request
        .get('/content-details', {
          params: {
            contentID: that.$route.params.ContentId,
          },
        })
        .then((res) => {
          this.content = res
          this.item = this.content[0]
        })
    },
  },
}
</script>
    
<style lang="scss">
.all {
  display: flex;
  width: 100%;
  height: 100%;
  background: #f4f4f5;
  .left {
    margin-right: 20px;
    .svg {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      background: #fff;
      margin: 20px 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .right {
    background: #fff;
    margin-left: 15px;
    padding: 20px;
    .person {
      display: flex;
      align-items: center;
      height: 50px;
      .img {
        border-radius: 50%;
        overflow: hidden;
      }
      :nth-child(2) {
        width: 120px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
}
.advertisement .item-main .info-box .title {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #1d2129;
  margin-bottom: 8px;
  /* 这句表示独占一行 */
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.tag_list .tag:not(:last-child):after {
  position: absolute;
  right: -1px;
  display: block;
  content: ' ';
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: #4e5969;
}
.tag_list .tag {
  position: relative;
  flex-shrink: 0;
  font-size: 13px;
  line-height: 22px;
  padding: 0 8px;
  color: #86909c;
}
.tag_list .tag,
.tag_list {
  display: flex;
  align-items: center;
}
.popover-box {
  display: flex;
  align-items: center;
}
.advertisement .meta-container .user-message .userbox {
  max-width: 162px;
  font-size: 13px;
  line-height: 22px;
  color: #4e5969;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}
.advertisement .meta-container .date {
  line-height: 22px;
  font-size: 13px;
  color: #86909c;
}
.advertisement .meta-container .dividing {
  width: 1px;
  height: 14px;
  background: #e5e6eb;
  margin: 0 8px;
}
.advertisement .meta-container .user-message,
.advertisement .meta-container {
  display: flex;
  align-items: center;
}

/* 图片的lazy */
.lazy:before {
  flex: 0 0 auto;
  margin-right: 1rem;
  width: 3.333rem;
  height: 3.333rem;
  border-radius: 50%;
}
.lazy:not(.immediate):before {
  transition: opacity 0.2s;
}
.advertisement .main .info-box .description {
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  color: #86909c;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
/* 什么是visited，好像表示已读过，由后端传送 */
.advertisement .main .info-box .title:visited {
  color: #86909c;
}
.advertisement .main .info-box .title {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #1d2129;
  margin-bottom: 8px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.advertisement .thumb {
  flex: 0 0 auto;
  width: 120px;
  height: 80px;
  margin-left: 24px;
  border-radius: 2px;
}
.advertisement .item-main .info-box {
  flex-grow: 1;
}
.advertisement .item-main {
  margin-top: 6px;
  padding-bottom: 12px;
  display: flex;
  border-bottom: 1px solid #e5e6eb;
}
.meta-container {
  display: flex;
  align-items: center;
}
.advertisement {
  position: relative;
  cursor: pointer;
  padding: 12px 20px 0;
}
/* 去掉默认样式 */
li {
  list-style: none;
}
a,
button,
input {
  margin: initial;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: #909090;
}
.item {
  /* 代理样式表 */
  /* display: list-item;
text-align: -webkit-match-parent; */
  transition: all 0.3s ease-in;
}

.title {
  margin: 0 0 1.667rem;
  font-size: 2.667rem;
  font-weight: 600;
  line-height: 1.31;
  color: #252933;
}
</style>