<template>
  <div class="main-nav">
    <h1 class="logo fl" @click="goroute">
      <img id="logoimg" src="@/assets/img/logo.png" />
      <div class="logotext">稀土掘金</div>
    </h1>
    <nav class="fl">
      <ul class="nav-list">
        <li class="nav-item"><nuxt-link to="/" class="active">首页</nuxt-link></li>
        <li class="nav-item"><nuxt-link to="/notRequired">沸点</nuxt-link></li>
        <li class="nav-item"><nuxt-link to="/notRequired">课程</nuxt-link></li>
        <li class="nav-item"><nuxt-link to="/notRequired">直播</nuxt-link></li>
        <li class="nav-item"><nuxt-link to="/notRequired">活动</nuxt-link></li>
        <li class="nav-item"><nuxt-link to="/notRequired">竞赛</nuxt-link></li>
        <li class="nav-item"><nuxt-link to="/notRequired">商城</nuxt-link></li>
        <li class="nav-item"><nuxt-link to="/notRequired">APP</nuxt-link></li>
        <li class="nav-item"><nuxt-link to="/notRequired">插件</nuxt-link></li>

      </ul>
    </nav>
  </div>
</template>

<script>
export default {
  name: 'HeaDer',
  components: {},
  mixins: [],
  props: {},
  data() {
    return {}
  },
  computed: {},
  watch: {},
  methods: {
    goroute() {
      window.open('https://juejin.cn/', '_blank')
    },
  },
}
</script>

<style lang="scss" scoped>
a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}
.fl {
  float: left;
}
.main-nav {
  padding: 0;
  padding-top: 18px;
  box-sizing: border-box;
  height: 60px !important;
  background: #fff;
  border-bottom: 1px solid #dee5ea;
}
.main-nav .logo {
  width: 107px;
  height: 22px;
  margin-left: 50px;
  display: flex;
  cursor: pointer;
  #logoimg {
    height: 22px;
    width: 22px;
  }
  .logotext {
    font-size: 18px;
    font-weight: 400;
    font-family: 'STFangsong';
    margin-left: 5px;
  }
}
.main-nav .logo a {
  display: block;
  height: 22px;
}
.main-nav nav li {
  margin-left: 20px;
}
.main-nav nav li a:hover {
  // color: blue;
  // color: rgb(30,128,255);;
  // border-bottom: 1px solid blue;
  border-bottom: 1px solid rgb(30,128,255);
  padding-bottom: 20px;
}
.active{
  color: rgb(30,128,255);
}
.nav-list {
  display: flex;
}
</style>
