<template>
  <div id="mylist">
    <!-- item容器 -->
    <li
      v-for="item in hotList"
      :key="item.id"
      class="item"
      @click="toContentDetail(item.ContentId)"
    >
      <!-- 广告 -->
      <div class="advertisement">
        <!-- meta容器 -->
        <div class="meta-container">
          <!-- 作者标签 -->
          <div class="user-message">
            <div class="userbox">
              <div class="popover-box user-popover">
                {{ item.author }}
              </div>
            </div>
          </div>
          <!-- 分割线，应该由什么控制好 -->
          <div class="dividing"></div>
          <!-- 日期，后端传数据后获取 -->
          <div class="date">{{ datefor(item.createTime) }}</div>
          <div class="dividing"></div>
          <!--tag标签 ,话说—和_有什么区别在css？使用v-for循环-->
          <div class="tag_list">
            <a class="tag" target="_blank">{{ item.tags }}</a>
          </div>
        </div>
        <!--item内容容器  -->
        <div class="item-main">
          <div class="info-box">
            <!-- 信息盒子 -->
            <!-- 标题，一个套一个
             -->
            <a class="title">
              {{ item.title }}
            </a>
            <!-- 内容 -->
            <a class="description">
              {{ item.content }}
            </a>
          </div>
          <!-- 图片 -->
          <img :src="item.imgUrl" loading="lazy" class="lazy thumb" />
        </div>
      </div>
    </li>
    <!-- 说明把x按钮p掉了，暂时不添加 -->
  </div>
</template>

<script>
import request from '@/api/request'
export default {
  name: 'mylist',
  data() {
    return {
      isnewes: false,
      selected: '',
      hotList: [],
      start: 0,
      limit: 5,
      count: 0,
      loading: false,
    }
  },

  mounted() {
    // 监听页面滚动
    window.onscroll = this.pageScroll
  },
  created() {
    this.airicles(this.start)
  },
  methods: {
    datefor(value) {
      return value.slice(0, 10)
    },
    toContentDetail(ContentId) {
      this.$router.push({
        name: 'contentDetail',
        params: {
          ContentId: ContentId,
        },
      })
    },
    airicles(start) {
      const that = this
      // console.log(start)
      request
        .get('/airicles/count', {
          params: this.params,
        })
        .then((res) => {
          this.count = res
        })
      request
        .get('/airicles', {
          params: {
            _start: start,
            _limit: that.limit,
          },
        })
        .then((res) => {
          this.hotList = this.hotList.concat(res)
          this.loading = false
        })
    },
    pageScroll() {
      // 获取滚动的距离
      const obj = document.getElementById('mylist')
      const scrollTop = obj.scrollTop
      // 获取滚动的高度
      const scrollHeight = obj.scrollHeight
      // 获取屏幕(浏览器)高度
      const clienHeight = obj.clientHeight
      if (
        scrollTop + clienHeight - scrollHeight >= 0 &&
        this.start <= this.count &&
        !this.loading
      ) {
        this.loading = true
        this.start = this.start + 5
        // console.log('end')
        this.airicles(this.start)
      }
    },
  },
}
</script>
<style>
.advertisement .item-main .info-box .title {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #1d2129;
  margin-bottom: 8px;
  /* 这句表示独占一行 */
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.tag_list .tag:not(:last-child):after {
  position: absolute;
  right: -1px;
  display: block;
  content: '';
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: #4e5969;
}
.tag_list .tag {
  position: relative;
  flex-shrink: 0;
  font-size: 13px;
  line-height: 22px;
  padding: 0 8px;
  color: #86909c;
}
.tag_list .tag,
.tag_list {
  display: flex;
  align-items: center;
}
.popover-box {
  display: flex;
  align-items: center;
}
.advertisement .meta-container .user-message .userbox {
  max-width: 162px;
  font-size: 13px;
  line-height: 22px;
  color: #4e5969;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}
.advertisement .meta-container .date {
  line-height: 22px;
  font-size: 13px;
  color: #86909c;
}
.advertisement .meta-container .dividing {
  width: 1px;
  height: 14px;
  background: #e5e6eb;
  margin: 0 8px;
}
.advertisement .meta-container .user-message,
.advertisement .meta-container {
  display: flex;
  align-items: center;
}

/* 图片的lazy */
.lazy:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: inherit;
  border-radius: inherit;
}
.lazy:not(.immediate):before {
  transition: opacity 0.2s;
}
.advertisement .main .info-box .description {
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  color: #86909c;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
/* 什么是visited，好像表示已读过，由后端传送 */
.advertisement .main .info-box .title:visited {
  color: #86909c;
}
.advertisement .main .info-box .title {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #1d2129;
  margin-bottom: 8px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.advertisement .thumb {
  flex: 0 0 auto;
  width: 120px;
  height: 80px;
  margin-left: 24px;
  border-radius: 2px;
}
.advertisement .item-main .info-box {
  flex-grow: 1;
}
.advertisement .item-main {
  margin-top: 6px;
  padding-bottom: 12px;
  display: flex;
  border-bottom: 1px solid #e5e6eb;
}
.meta-container {
  display: flex;
  align-items: center;
}
.advertisement {
  position: relative;
  cursor: pointer;
  padding: 12px 20px 0;
}
/* 去掉默认样式 */
li {
  list-style: none;
}
a,
button,
input {
  margin: initial;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: #909090;
}
.item {
  /* 代理样式表 */
  /* display: list-item;
  text-align: -webkit-match-parent; */
  transition: all 0.3s ease-in;
}
</style>
