<template>
  <div id="mheader">
    <header class="list-header" style="display: ">
      <!-- 前面的白写了了了了了了 -->
      <nav class="list-nav">
        <ul class="nav-list left">
          <!-- active不太会加啊，怎么动态？ -->
          <li class="nav-item route-active">
            <a class="a_font" v-on:click="isnewes = false" :class="{'active':isActive}">推荐</a>
          </li>
          <li class="nav-item route-active">
            <a class="a_font" v-on:click="isnewes = false" :class="{'active':isActive}">最新</a>
          </li>
          <li class="nav-item route-active">
            <a @click="isnewes = true">热榜</a>
          </li>
        </ul>
        <el-select v-show="isnewes" v-model="select_value" placeholder="请选择" size="mini">
          <el-option
            v-for="item in options"
            :key="item.value"
            :label="item.label"
            :value="item.value"
          >
          </el-option>
        </el-select>
      </nav>
    </header>
  </div>
</template>

<script>
export default {
  name: 'mheader',
  data() {
    return {
      select_value: '',
      options: [
        {
          value: '选项1',
          label: '3天内',
        },
        {
          value: '选项2',
          label: '7天内',
        },
        {
          value: '选项3',
          label: '30天内',
        },
        {
          value: '选项4',
          label: '全部',
        },
      ],
      isnewes: false,
      selected: '',
      hotList: [
        {
          article_id: '7196312716104007737',
          article_info: {
            article_id: '7196312716104007737',
            brief_content: '在开发中我们时常会出现数据获取加载慢的情况',
          },
          title: '文章一',
          author_user_info: {
            user_id: '1218729385924360',
            user_name: '作者',
          },
          tags: [
            { id: 123, tag_id: 'abcd', tag_name: 'Android', color: '#A3CC28' },
            { id: 123, tag_id: 'abcd', tag_name: 'Android', color: '#A3CC28' },
          ],
        },
        {
          article_id: '7196312716104007737',
          article_info: {
            article_id: '7196312716104007737',
            brief_content: '在开发中我们时常会出现数据获取加载慢的情况',
          },
          title: '文章一',
          author_user_info: {
            user_id: '1218729385924360',
            user_name: '作者',
          },
          tags: [
            { id: 123, tag_id: 'abcd', tag_name: 'Android', color: '#A3CC28' },
            { id: 123, tag_id: 'abcd', tag_name: 'Android', color: '#A3CC28' },
          ],
        },
      ],
      newsList: [
        {
          article_id: '7196312716104007737',
          article_info: {
            article_id: '7196312716104007737',
            brief_content: '在开发中我们时常会出现数据获取加载慢的情况',
          },
          title: '文章一',
          author_user_info: {
            user_id: '1218729385924360',
            user_name: '作者',
          },
          tags: [
            { id: 123, tag_id: 'abcd', tag_name: 'Android', color: '#A3CC28' },
            { id: 123, tag_id: 'abcd', tag_name: 'Android', color: '#A3CC28' },
          ],
        },
      ],
      recommendList: [
        {
          article_id: '7196312716104007737',
          article_info: {
            article_id: '7196312716104007737',
            brief_content: '在开发中我们时常会出现数据获取加载慢的情况',
          },
          title: '文章一',
          author_user_info: {
            user_id: '1218729385924360',
            user_name: '作者',
          },
          tags: [
            { id: 123, tag_id: 'abcd', tag_name: 'Android', color: '#A3CC28' },
            { id: 123, tag_id: 'abcd', tag_name: 'Android', color: '#A3CC28' },
          ],
        },
      ],
    }
  },
}
</script>

<style>
.icon {
  width: 0;
  height: 0;
  position: absolute;
  right: 0.83rem;
  top: 0.7rem;
  border-top: 0.42rem solid #b2bac2;
  border-left: 0.42rem solid transparent;
  border-right: 0.42rem solid transparent;
  transition: all 0.5s;
}
select {
  list-style: none;
}
li {
  list-style: none;
}
/* 下拉框 */
.dropdown-toggle {
  box-sizing: border-box;
  min-width: 7rem;
  font-size: 0.5rem;
  border-radius: 2px;
  padding: 2px 10px;
  font-weight: 400;
  border: 1px solid #ebebeb;
}
.drop-down {
  position: relative;
  color: #909097;
  min-width: 4rem;
}
.dorp-down-area .drop-down {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.dorp-down-area {
  position: relative;
  z-index: 9;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: #909090;
}
.list-header .left .nav-item {
  padding: 0 1.2rem;
  font-size: 1.16rem;
  border-right: 1px solid hsla(0, 0%, 59.2%, 0.2);
}
/* 感觉是很新的东西，>是什么,添加后不能跳转，会影响路由· */
/* .nav-item>a:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
} */
.list-header .nav-list .nav-item.active a {
  color: #007fff;
}
.list-header .nav-list .nav-item a:hover {
  color: #007fff;
}
.list-nav .nav-list.left .nav-item a .nav-item route-active {
  color: #007fff;
}
.a_font:active {
  color: #007fff;
}
.list-header .nav-list .nav-item.dropdown a {
  color: #007fff;
}
.list-header .nav-list .nav-item.dropdown {
  color: #007fff;
}
.list-nav .nav-list.left .nav-item {
  font-size: 0.9rem;
}
.active{
  color: rgb(30,128,255);
}

.list-header .nav-list {
  align-items: center;
  line-height: 1;
}
.list-header .list-nav,
.list-header .nav-list {
  display: flex;
  justify-content: space-between;
}
.list-nav {
  justify-content: flex-start !important;
}
.list-header .nav-list {
  align-items: center;
  line-height: 1;
}
.list-header {
  padding: 0.9rem 0.5rem;
  border-bottom: 1px solid hsla(0, 0%, 59.2%, 0.1);
}
ul {
  padding: 0;
  margin: 0;
}

.nav-item {
  position: relative;
  cursor: pointer;
}
.list-header .left .nav-item {
  padding: 0 1.2rem;
  font-size: 1.16rem;
  border-right: 1px solid hsla(0, 0%, 59.2%, 0.2);
}
.list-header .left .nav-item {
  padding: 0 1.2rem;
  font-size: 1.16rem;
  border-right: 1px solid hsla(0, 0%, 59.2%, 0.2);
}
</style>
