<template>
  <div>
    <v-Header />
    <nuxt />
  </div>
</template>

<script>
import HeaDer from '~/components/Header.vue'

export default {
  components: {
    'v-Header': HeaDer,
  },
}
</script>

<style></style>
