<template>
    <div class="all">
      <div class="left">
        <div class="svg">
          <img src="@/assets/svg/dianzan.png" alt="" style="width: 40%; height: 40%">
        </div>
        <div class="svg"><img src="@/assets/svg/pinglun.png" alt="" style="width: 40%; height: 40%"></div>
        <div class="svg"><img src="@/assets/svg/hanhan-01-01.png" alt="" style="width: 40%; height: 40%"></div>
        <div class="svg"><img src="@/assets/svg/zhuanfa.png" alt="" style="width: 40%; height: 40%"></div>
        <div class="svg" style="margin-top: 30px"><img src="@/assets/svg/jubao.png" alt="" style="width: 40%; height: 40%"></div>
        <div class="svg"><img src="@/assets/svg/bg-fullscreen.png" alt="" style="width: 40%; height: 40%"></div>
      </div>
      <div id="content" style="width: 850px;padding: 20px; background: #fff;overflow: auto;">
      <!-- item容器 -->
      <li class="item" style="background: #fff">
        <h1 class="title">
          {{item.title}}
        </h1>
        <div class="advertisement">
          <!-- meta容器 -->
          <div class="article-info">
            <!-- 作者标签 -->
             <!-- 图片 -->
             <el-row :gutter="10">
                <el-col :span="2">
                  <div class="grid-content bg-purple">
                    <img :src="item.headUrl" style="border-radius: 30px; overflow: hidden;width: 55px;height: 55px;" />
                  </div>
                </el-col>
                <el-col :span="10">
                  <div class="grid-content bg-purple" style="line-height: 22px;color: #4e5969;">
                  {{ item.author }}
                  </div>
                  <div class="grid-content bg-purple" style="color: #86909c;  line-height: 22px;">
                    {{ item.createTime }}  ·  阅读 {{ item.readNum }}
                  </div>
                </el-col>
            </el-row>
          </div>
          <!--item内容容器  -->
          <div class="item-main"> 
            <div class="info-box">
              <!-- 信息盒子 -->
              <!-- 标题，一个套一个
               -->
              <!-- 内容 -->
              <p class="description">
                <div ref="desc" class="markdown-body">
                  <VueMarkdown :source="item.articleDetail"></VueMarkdown>
                </div>
              </p>
              <p>
                {{ item.other }}
              </p>
            </div>
          </div>
        </div>
      </li>
      <!-- 说明把x按钮p掉了，暂时不添加 -->
  
      </div>
      <div class="right">
        <div class="person">
          <div class="img">
            <img :src="item.headUrl" alt="" style="width: 50px;height: 50px">
          </div>
          <div style="margin-left: 10px">
            <div>{{ item.author }}</div>
            <div>{{ item.other }}</div>
          </div>
        </div>
        <div>
          <div class="catalog-title">相关文章</div>
          <div class="wz" v-for="(item, index) in list" :key="index" @click="toContentDetail(item.ContentId)">
            {{ item.title }}
          </div>
        </div>
        <!-- 目录 -->
        <nav :class="{ article_catalog:true,pos:str }">
          <div class="catalog-title">目录</div>
          <div class="catalog-body">
            <div class="md" v-for="(item, index) in h2" :key="item.id || index">
              <a :href="'#'+item.id">{{ item.inner }}</a>
            </div>
          </div>
        </nav>
      </div>  
    </div> 
  </template>
      

  <script>
import request from '@/api/request'
import 'github-markdown-css/github-markdown.css'
export default {
  name: 'ContentDetail',
  components: {
    VueMarkdown: () => import('vue-markdown'),
  },
  data() {
    return {
      isnewes: false,
      selected: '',
      content: [],
      item: '',
      allTags:[],
      h2:[],
      list:[],
      str: '',
    }
  },
  mounted() {
    window.addEventListener('scroll', this.handleScroll) // 监听页面滚动
  },
  created() {
    this.contentlist()
    this.$nextTick().then(() => {
      setTimeout(() => {
        this.init()
      },400)
    })
  },
  methods:{
    handleScroll () {
      const scrollTop = window.pageYOffset || document.documentElement.scrollTop || document.body.scrollTop
      if(scrollTop >= 655) {
        this.str = true
      }
      else {
        this.str = false
      }
    },
    toContentDetail(ContentId) {
      request
        .get('/airicles', {
          params: {
            _start: 0,
            _limit: 10,
          },
        })
        .then((res) => {
          this.list = res.filter(item => {
            return this.item !== item
          })
        })
      request
        .get('/content-details', {
          params: {
            contentID: ContentId,
          },
        })
        .then((res) => {
          this.content = res
          this.item = this.content[0]
        })
        this.h2 = []
        this.$nextTick().then(() => {
          setTimeout(() => {
            this.init()
          },1000)
        })
    },
    init() {
      this.$nextTick(() => {
        const arr = window.document.getElementsByTagName('h2')
        let index = 0
        for(let i of arr) {
          i.setAttribute('id',index)
          index++
        }
        for(let j of arr) {
          let item = {}
          item.inner = j.innerHTML
          item.id = j.id
          this.h2.push(item)
        }
      })
    },
    datefor(value) {
      if(value) {
        return value.slice(0,10)
      }
    },
    contentlist() {
      request
        .get('/airicles', {
          params: {
            _start: 0,
            _limit: 10,
          },
        })
        .then((res) => {
          this.list = res.filter(item=>{
            return this.item != item
          })
        })
      const that = this
      request
        .get('/content-details', {
          params: {
            contentID: that.$route.params.ContentId,
          },
        })
        .then((res) => {
          this.content = res
          this.item = this.content[0]
        })
    },
  },
}
</script>
      
  <style lang="scss">
.all {
  display: flex;
  width: 100%;
  height: 100%;
  background: #f4f4f5;
    padding-top: 20px;
    padding-left: 30px;
  .left {
    margin-right: 30px;
    .svg {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      background: #fff;
      margin: 20px 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .right {
    width: 300px;
    background: #fff;
    margin-left: 25px;
    padding: 20px;
    .person {
      display: flex;
      align-items: center;
      height: 50px;
      .img {
        border-radius: 50%;
        overflow: hidden;
      }
      :nth-child(2) {
        width: 150px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
    .article_catalog{
      background-color: #fff;
      border-radius: 4px;
      padding: 30px 0;
      // position: sticky; 
      // top: 50px;
    }
    .catalog-body::webkit-scrollbar-track{
      background: rgb(239,239,239);
      border-radius: 2px;
    }
    .catalog-title {
      font-weight: 500;
      padding: 8px 0px;
      // margin: 30px 5px;
      font-size: 16px;
      line-height: 2rem;
      color: #1d2129;
      border-bottom: 1px solid #e4e6eb;
    }
    .catalog-body{
      position: relative;
      max-height: 460px;
      margin: 8px 4px 0 0;
      overflow: auto;
    }
    .catalog-list{
      position: relative;
      line-height: 22px;
      padding: 0 0 12px;
    }
    .catalog-list .item.d1{
      font-weight: 400;
      color: #000;
      font-size: 14px;
    }
    .catalog-list .item{
      margin: 0;
      padding: 0;
      line-height: 22px;
      color: #333;
      list-style: none;
    }
    .catalog-list .item.d1:first-child>.a-container{
      margin-top: 0;
    }
    .catalog-list .item.d1>.a-container{
      margin: 10px 0;
      padding: 0 0 0 3px;
    }
    .catalog-list .item .a-container{
      display: block;
      position: relative;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 8px;
    }
    .catalog-list .catalog-aTag{
      color: inherit;
      display: inline-block;
      padding: 6px;
      width: 90%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .catalog-list .sub-list{
      margin: 0;
      padding: 0;
    }
    .catalog-list .item.d2>.a-container{
      padding-left: 10px;
    }
  }
}
.advertisement .item-main .info-box .title {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #1d2129;
  margin-bottom: 8px;
  /* 这句表示独占一行 */
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  }
  .popover-box {
  display: flex;
  align-items: center;
}
.advertisement .meta-container .user-message .userbox {
  max-width: 162px;
  font-size: 13px;
  line-height: 22px;
  color: #4e5969;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}
.advertisement .meta-container .date {
  line-height: 22px;
  font-size: 13px;
  color: #86909c;
}
.advertisement .meta-container .dividing {
  width: 1px;
  height: 14px;
  background: #e5e6eb;
  margin: 0 8px;
}
.advertisement .meta-container .user-message,
.advertisement .meta-container {
  display: flex;
  align-items: center;
}

/* 图片的lazy */
.lazy:before {
  flex: 0 0 auto;
  margin-right: 1rem;
  width: 3.333rem;
  height: 3.333rem;
  border-radius: 50%;
}
.lazy:not(.immediate):before {
  transition: opacity 0.2s;
}
.advertisement .main .info-box .description {
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  color: #86909c;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.advertisement .main .info-box .title:visited {
  color: #86909c;
}
.advertisement .main .info-box .title {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #1d2129;
  margin-bottom: 8px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.advertisement .thumb {
  flex: 0 0 auto;
  width: 120px;
  height: 80px;
  margin-left: 24px;
  border-radius: 2px;
}
.advertisement .item-main .info-box {
  flex-grow: 1;
}
.advertisement .item-main {
  margin-top: 6px;
  padding-bottom: 12px;
  display: flex;
  border-bottom: 1px solid #e5e6eb;
}
.meta-container {
  display: flex;
  align-items: center;
}
.advertisement {
  position: relative;
  cursor: pointer;
  padding: 2px 2px 0;
  }
  /* 去掉默认样式 */
  li {
  list-style: none;
}
a,
button,
input {
  margin: initial;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: #909090;
  }
  .item{
  
  transition: all .3s ease-in;
  }
  
  .title{
    margin: 0 0 1.667rem;
      font-size: 2.667rem;
      font-weight: 600;
      line-height: 1.31;
      color: #252933;
  }
  .el-row {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .el-col {
    border-radius: 4px;
  }
  .grid-content {
    border-radius: 4px;
    min-height: 36px;
  }
  .row-bg {
    padding: 10px 0;
    background-color: #f9fafc;
  }
  .md {
    padding: 10px;
  }
  .wz {
    font-size: 14px;
    padding: 10px;
    cursor: pointer;
  }
  .wz:hover {
    color: #1171ee;
  }
  .pos {
    position: sticky;
    top: 30px;
  }
  </style>