<template>
  <div class="main">
    <el-container>
      <el-header class="homenav">
        <categories />
      </el-header>
      <el-main class="body">
        <NuxtChild></NuxtChild>
      </el-main>
    </el-container>
  </div>
</template>

<script>

export default {
  name: 'App',

}
</script>
<style>
a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}
* {
  margin: 0;
  padding: 0;
}
.main {
  background: #f2f5f4;
  display: flex;
  flex-direction: column;
}
.homenav {
  display: flex;
  padding: 0;
  height: 50px !important;
  background: #fff;
}
.body {
  padding: 0;
  background: #fff;
  margin: 20px auto 0;
  width: 72%;
  flex: 1;
}
</style>
